# Build products
*.o
*.a
/six
/sadb
System.map
vmlinux
.depend
.hdepend
.tmpdepend
.version
.ver
include/linux/compile.h

# include/asm is a generated symlink (make symlinks -> asm-six)
/include/asm

# Editor / misc
*~
*.orig
*.rej
*.swp
.*.swp
core

# Port scratch area (build logs etc). Disk images are NOT ignored:
# disk/x86/root and disk/sparc/root are checked in on purpose.
/port/log/

# gcc -MMD header dependency files (see Rules.make)
.*.o.d

# Generated root filesystem images -- built by port/image/mkimage.sh
# (the pristine 2005 images live forever in tag v2005-cvs)
disk/x86/root
disk/sparc/root
disk/*/root
disk/*/bin_storage
include/linux/verity_roothash.h
port/image/.stage_bin/

# The optional auxiliary disk (/dev/hdb), built by port/image/mkaux.sh.
# Never checked in: it is not reconstructible from the tree, and having it
# absent is the default state the kernel is expected to cope with.
disk/*/aux_storage-*
disk/*/usb_*.img

# Guest userland binaries.  These were checked in as 2005 SPARC big-endian
# ELF executables, which are useless on x86 and were silently being copied
# into the disk image.  They are build products; port/image/mkimage.sh
# rebuilds them.  The originals remain in tag v2005-cvs.
applications/*/banner
applications/*/cat
applications/*/clear
applications/*/date
applications/*/echo
applications/*/fortune
applications/*/getty
applications/*/grep
applications/*/halt
applications/*/id
applications/*/init
applications/*/kill
applications/*/last
applications/*/login
applications/*/ls
applications/*/ps
applications/*/pwd
applications/*/rm
applications/*/sethostname
applications/*/sh
applications/*/sync
applications/*/tty
applications/*/vi
applications/*/life
applications/*/ttt
applications/*/gomoku
applications/*/reversi
applications/*/cal
applications/*/dhrystone
applications/*/tetris
applications/*/matrix
applications/*/rogue
applications/*/basic
applications/*/eliza
applications/*/cowsay
applications/*/sl
applications/*/cp
applications/*/dd
applications/*/mount
applications/*/umount
applications/*/mv
applications/*/mkdir
applications/*/rmdir
applications/*/touch
applications/*/df
applications/*/wc
applications/*/head
applications/*/nettest
applications/*/httpd
applications/*/lynx
applications/*/lynx23
applications/*/ifconfig
applications/*/sleep
applications/*/telnet
applications/*/telehack
applications/*/testdir
applications/*/testcurses
applications/*/starwars
applications/*/irc
applications/*/tcc
applications/*/trek
applications/*/gopher
applications/*/mail
applications/*/more
applications/*/sort
applications/*/uniq
applications/*/tr
applications/*/tail
applications/*/find
applications/*/sed
applications/*/tar
applications/*/sixanim
applications/*/telnetd
applications/*/awk
applications/*/robots
applications/*/zork
applications/*/panic
applications/*/sysctl
applications/*/weather
applications/*/ext4info
applications/*/file
applications/*/uname
applications/*/dmesg
applications/*/free
applications/*/uptime
applications/*/lsof
applications/*/ln
applications/*/chmod
applications/*/stat
applications/*/readlink
applications/*/du
applications/*/hexdump
applications/*/strings
applications/*/nm
applications/*/size
applications/*/diff
applications/*/env
applications/*/tee
applications/*/cut
applications/*/xargs
applications/*/strace
applications/*/top
applications/*/dmsetup
applications/mkfs/mkfs.ext2
applications/*/lsblk
applications/*/servicemanager
applications/*/service
applications/*/vold
applications/*/storaged
applications/*/usbctl
applications/*/sm
applications/*/sadbd
applications/ntfs-3g/ntfs-3g
applications/ntfs-3g/ntfs-3g.probe
applications/ntfs-3g/mkntfs
applications/ntfs-3g/ntfsfix
applications/ntfs-3g/ntfsinfo
applications/ntfs-3g/ntfslabel
applications/ntfs-3g/ntfsls
applications/ntfs-3g/ntfscat
applications/ntfs-3g/ntfscluster
applications/ntfs-3g/ntfscmp
applications/ntfs-3g/ntfscp
applications/ntfs-3g/ntfsresize
applications/ntfs-3g/ntfsclone
applications/ntfs-3g/ntfsundelete
applications/advent/advent
applications/advent/setup
applications/advent/advtext.h
applications/advent/*.dat

# Staging tree used while assembling the disk image
port/image/.stage/

# Records whether the current disk/x86/root is ext2 or ext4, so that
# switching between "make ext2-image" and "make ext4-image" rebuilds it
port/image/.fstype
port/image/.verity
library/*/lib/*.a

# Records the value of SIX_TRACE_GUEST_SYSCALLS so make can notice changes.
.trace_flag
.six_sadb.*
__pycache__/

