# Build products
*.o
*.a
/six
System.map
vmlinux
.depend
.hdepend
.tmpdepend
.version
.ver
include/linux/compile.h

# include/asm is a generated symlink (make symlinks -> asm-six)
/include/asm

# Editor / misc
*~
*.orig
*.rej
core

# Port scratch area (build logs etc). Disk images are NOT ignored:
# disk/x86/root and disk/sparc/root are checked in on purpose.
/port/log/

# gcc -MMD header dependency files (see Rules.make)
.*.o.d

# Generated root filesystem images -- built by port/image/mkimage.sh
# (the pristine 2005 images live forever in tag v2005-cvs)
disk/x86/root
disk/sparc/root
disk/*/root

# Guest userland binaries.  These were checked in as 2005 SPARC big-endian
# ELF executables, which are useless on x86 and were silently being copied
# into the disk image.  They are build products; port/image/mkimage.sh
# rebuilds them.  The originals remain in tag v2005-cvs.
applications/*/banner
applications/*/cat
applications/*/clear
applications/*/date
applications/*/echo
applications/*/fortune
applications/*/getty
applications/*/grep
applications/*/halt
applications/*/id
applications/*/init
applications/*/kill
applications/*/last
applications/*/login
applications/*/ls
applications/*/ps
applications/*/pwd
applications/*/rm
applications/*/sethostname
applications/*/sh
applications/*/sync
applications/*/tty
applications/*/vi
applications/*/life
applications/*/ttt
applications/*/gomoku
applications/*/cal
applications/*/dhrystone
applications/*/tetris
applications/*/matrix
applications/*/rogue
applications/*/basic
applications/*/eliza
applications/*/cowsay
applications/*/sl
applications/*/cp
applications/*/mv
applications/*/mkdir
applications/*/rmdir
applications/*/touch
applications/*/df
applications/*/wc
applications/*/head
applications/*/nettest
applications/*/httpd
applications/*/lynx
applications/*/lynx23
applications/*/ifconfig
applications/*/sleep
applications/*/telnet
applications/*/telehack
applications/*/testdir
applications/*/testcurses
applications/*/starwars
applications/*/irc
applications/*/tcc
applications/*/trek
applications/*/gopher
applications/*/mail
applications/advent/advent
applications/advent/setup
applications/advent/advtext.h
applications/advent/*.dat

# Staging tree used while assembling the disk image
port/image/.stage/
library/*/lib/*.a

# Records the value of SIX_TRACE_GUEST_SYSCALLS so make can notice changes.
.trace_flag
