# system/sepolicy/private/ntfs_3g.te
# ntfs_3g - Userspace NTFS FUSE driver (ag/41792131, arsp/9012798)
@tier private

type ntfs_3g, domain, coredomain;
type ntfs_3g_exec, system_file_type, exec_type, file_type;

# Inherit pre-opened file descriptors passed from vold
allow ntfs_3g vold:fd use;

# FUSE character device (/dev/fuse) & vold USB block device (/dev/block/vold/...) access
allow ntfs_3g fuse_device:chr_file rw_file_perms;
allow ntfs_3g vold_device:blk_file rw_file_perms;

# Block device traversal and access
allow ntfs_3g block_device:dir search;

# Allow mkntfs/ntfsfix output to be passed to vold for logging
allow ntfs_3g vold:fifo_file rw_file_perms;
